debian/*.debhelper
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/python3-validity.substvars
debian/python3-validity/
debian/tmp/

*.bin
*.log
.idea/*
.pybuild/
__pycache__
build
dist
python_validity.egg-info/
tls.dict
