[Unit]
Description=python-validity driver dbus service
After=open-fprintd.service

[Service]
Type=simple
ExecStart=/usr/lib/python-validity/dbus-service
Restart=no

[Install]
WantedBy=multi-user.target
